extends head.pug

block content
    div.container
        div.p-3.main
            div.row
                h2 You're new here?
            div.row
                div.col-sm-4
                    div.cotent
                        p Insert picture about creating new document
                div.col-sm-8
                    div.content
                        p To start with your invention process create new document in your profile.

            div.row
                div.col-sm-8
                    div.cotent
                        p Navigate through documents, delete them, rename or change their order.
                div.col-sm-4
                    div.content
                        p Insert picture about deleting and renaming stuff