doctype html
html
  head
      title Graphite
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')

      block scripts
          //Bootstrap
          script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
          link(type='text/css' rel='stylesheet' href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')

          //Icons font
          
          script(src='https://kit.fontawesome.com/f4417770c1.js' crossorigin='anonymous')


          link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
          script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
          script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
          script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
      block styles
          style
              include /resources/css/global.css

  body
      include navbar.pug

      block content




  footer
