extends head.pug

block content
    div.container
        div.p-3.main
          div.row
            h2 Manage your time and tasks with us
          div.row
            div.col-sm-4
             div.cotent
                p Lorem ipsum loram
            div.col-sm-8
              div.content
                p Państwo izraels prześladuje pakistańczyków
