extends head.pug

block content
    div.container
        div.p-3.main
          div.row.m-3
              div.col-sm-4
                h2 Unleash your
              div.col-sm-4
                div.text-center.p-4
                  p creativity
                  p imagination
                  p will to empower people
                  p knowledge
              div.col-sm-4
                div.align-bottom
                  h3 with us!
          div.row
            div.col-sm-4
             div.cotent
                p Introducing new platform for creating documents quite more complicated than just notes.
            div.col-sm-8
              div.content
                p Easy referencing, mentioning and linking data