style
    include ../resources/css/navbar.css


nav.navbar.navbar-expand-sm.navbar-light
    div.container.inline
        h1
            a(href='./') Graphite
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            a.nav-link(href='./') Gamejams
            a.nav-link(href='./profile') Profile
            a.nav-link(href='./')
            if global.signed == true
              //a.nav-link#loginRedirectLink(href='./login', style='margin:auto; margin-right: 0; display:hide;') Login
              a.nav-link#signOutLink(style='margin:auto; margin-right: 0;') Sign Out
            else
              //a.nav-link#signOutLink(style='margin:auto; margin-right: 0; display:hide;') Sign Out
              a.nav-link#loginRedirectLink(href='./login', style='margin:auto; margin-right: 0; ') Login

            script
                include ../resources/js/signOut.js
