extends head.pug

block content
    div.container
        div.p-3.main
            div.row
                h2 Create new documents
            div.row
                div.col-sm-6
                    div.cotent.text-info.align-right
                        div here will be document
                div.col-sm-6
                    div.content.text-info.aign-left
                        div here will be second document
