.navbar{
    background-color: var(--primary-color);;
    color: var(--fourth-color);;
}
a{
    color: var(--fifth-color);
}
a:hover{
    color:white;
    text-decoration: none;
}
.align-left{
    text-align: right;
}